<table>
  <tr>
    <td class="title">fecha</td>
    <td class="title">imagen</td>
    <td class="title">título</td>
  </tr>
  <tr>
    <td>{{ nasaInfo.date }}</td>
    <td>{{ nasaInfo.url }}</td>
    <td>{{ nasaInfo.title }}</td>
  </tr>
</table>

<table>
  <tr>
    <td class="title">fecha</td>
    <td class="title">imagen</td>
    <td class="title">título</td>
  </tr>
  <tr>
    <td>{{ nasaInfo.date }}</td>
    <td>{{ nasaInfo.url }}</td>
    <td>{{ nasaInfo.title }}</td>
  </tr>
</table>

<table>
  <tr>
    <td class="title">fecha</td>
    <td class="title">imagen</td>
    <td class="title">título</td>
  </tr>
  <tr>
    <td>{{ nasaInfo.date }}</td>
    <td>{{ nasaInfo.url }}</td>
    <td>{{ nasaInfo.title }}</td>
  </tr>
</table>

<table>
  <tr>
    <td class="title">fecha</td>
    <td class="title">imagen</td>
    <td class="title">título</td>
  </tr>
  <tr>
    <td>{{ nasaInfo.date }}</td>
    <td>{{ nasaInfo.url }}</td>
    <td>{{ nasaInfo.title }}</td>
  </tr>
</table>

<table>
  <tr>
    <td class="title">fecha</td>
    <td class="title">imagen</td>
    <td class="title">título</td>
  </tr>
  <tr>
    <td>{{ nasaInfo.date }}</td>
    <td>{{ nasaInfo.url }}</td>
    <td>{{ nasaInfo.title }}</td>
  </tr>
</table>

<table>
  <tr>
    <td class="title">fecha</td>
    <td class="title">imagen</td>
    <td class="title">título</td>
  </tr>
  <tr>
    <td>{{ nasaInfo.date }}</td>
    <td>{{ nasaInfo.url }}</td>
    <td>{{ nasaInfo.title }}</td>
  </tr>
</table>
